.DS_Store

.gradle/
.kotlin/
build/
**/build/
DerivedData/
**/DerivedData/
dist/
backup/
node_modules/
**/node_modules/
local.properties
keystore.properties
*.jks
*.keystore
firebase-debug.log
functions/firestore-debug.log
*.xcarchive
.env
.env.*

.idea/

*.xcuserstate
xcuserdata/
*.xcuserdatad/
App Icon.png
