<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <attribution
        android:tag="core"
        android:label="@string/attribution_core" />

    <attribution
        android:tag="media"
        android:label="@string/attribution_media" />

    <attribution
        android:tag="auth"
        android:label="@string/attribution_auth" />

    <attribution
        android:tag="commerce"
        android:label="@string/attribution_commerce" />

    <attribution
        android:tag="ai"
        android:label="@string/attribution_ai" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SkydownApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Skydown">
        <activity
            android:name=".MainActivity"
            android:attributionTags="core"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Skydown"
            tools:targetApi="s">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="com.skydown.android" />
                <data android:host="spotify-auth" />
                <data android:host="checkout-success" />
                <data android:host="checkout-cancel" />
            </intent-filter>
        </activity>
    </application>

</manifest>
